*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100%;
}

.bg-primary {
  background-color: #071E3D;
}

.text-white {
  color: white;
}

.wrapper {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  box-sizing: border-box;
  width: 100%;
}

.wrapper-2 {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.padding {
  padding: 20px;
}

.flex {
  display: flex;
}

.w-50 {
  width: 50%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 20;
}

.wrap-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.nav {
  display: flex;
  gap: 25px;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
}

.nav > li > a {
  color: black;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.homeContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeContent > p {
  font-size: 17px;
}

.img1 {
  object-fit: cover; 
  width: 100%; 
  height: 100%;
}

.img-frame1{
  background-color: #28b6cc;
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-radius: 30px;
}

.caption {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 60px;
}

.desc1 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.headline {
  line-height: 55px;
  margin-bottom: 20px;
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.headline2 {
  line-height: 40px;
  margin-bottom: 20px;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  z-index: 10;
  text-align: center;
}

.btn-wrap1 {
  width: 100%;
}

.btn1 {
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  border: 2px solid #1d91a3;
  padding: 10px;
  border-radius: 12px;
  margin-top: 20px;
}

.btn1:hover {
  cursor: pointer;
  background-color: #1d91a3;
  color: white;
  transition: ease-in-out;
  transition-duration: 200ms;
}

.wrap-keunggulan {
  display: flex;
  gap: 10px;
  z-index: 10;
}


.img2 {
  width: 300px;
  height: 300px;
  animation: scroll 60s linear infinite;
}

.slide-track {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.slider {
  width: 100%;
  transform: rotate(-30deg);
}

.wrap-sec2 {
  width: 100%;
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@keyframes scroll {
  0% {transform: translateY(0);}
  100% {transform: translateY(-1000%)}
}

@media (max-width: 480px) {
  .nav {
    position: fixed;
    margin-left: 5rem;
    display: flex;
    flex-direction: row;
    gap: 25px;
    list-style-type: none;
    margin-top: 23px;
    font-family: monospace;
  }

  .li-nav > a {
    color: black;
    text-decoration: none;
    font-weight: 900;
    font-size: 20px;
  }

  .word {
    margin-top: 100px;
    margin-left: 10px;
    font-family: arial black;
  }

  .word2 {
    background-color: rgb(230, 230, 255);
    width: 200px;
    border-radius: 6px;
  }
}
